<%- include('../partials/header') %>
<style class="index_img">
  body {
    background-image: url("https://i.pinimg.com/originals/6a/4b/e0/6a4be04add47a608df29f78523190702.jpg");
    background-size: 100%;
  }
</style>
<div>
  <a class="goback" href="/ancients">GO BACK</a>
</div>
<div class="medival-show">
  <ul class="medival-ul">
    <li>Name: <%=history.name%></li>
    <li>Region: <%=history.region%></li>
    <li>Who: <%=history.involvedStates1%></li>
    <li>against: <%=history.involvedStates2%></li>
    <li>From: <%=history.dateFrom%></li>
    <li>To: <%=history.dateTo%></li>
    <li>Casualties: <%=history.numberOfLoss%></li>
    <li>Weapons: <%=history.numberOfLoss%></li>
  </ul>
</div>

<%- include('../partials/footer') %>
