<%- include('../partials/header') %>
<style class="index_img">
  body {
    background-image: url("https://i.pinimg.com/originals/6a/4b/e0/6a4be04add47a608df29f78523190702.jpg");
    background-size: 100%;
  }
</style>
<ul class="medieval">
  <li>
    <%weaponsSorted.forEach((t, idx) => {if(Number(t.weaponYear) < 500) { %>
    <a class="medieval-a" href="/weapons/ancients/<%= t._id %>">
      Name: <%= t.weaponName%> 
      Type: <%= t.weaponTypeName%>  
      <%= t.weaponYear%>
      <form
        action="/weapons/ancients/delete/<%=t._id%>?_method=DELETE"
        method="POST"
      >
        <button type="submit" class="btn white-text">Delete war</button>
      </form>
    </a>
    <%}});%>
  </li>
</ul>
<%- include('../partials/footer') %>
