<%- include('../partials/header') %>
<style class="index_img">
  body {
    background-image: url("https://i.pinimg.com/originals/6a/4b/e0/6a4be04add47a608df29f78523190702.jpg");
    background-size: 100%;
  }
</style>
<div>
  <a class="goback" href="/weapons/ancients">GO BACK</a>
</div>
<div class="medival-show">
  <ul class="medival-ul">
    <li class = "show-li">Name: <%=weapons.weaponName%></li>
    <li class = "show-li">Region: <%=weapons.weaponType%></li>
    <li class = "show-li">Who: <%=weapons.weaponTypeName%></li>
    <li class = "show-li">against: <%=weapons.weaponOriginRegion%></li>
    <li class = "show-li">From: <%=weapons.weaponYear%></li>
    <li class = "show-li">Facts: <%=weapons.facts%></li>
  </ul>
</div>
<%if(user) {%>
  <div class="facts-div">
    <ul class="facts-ul">
      <%comments.forEach((c, idx) => { %>
      <%weapons.comments.forEach((h, idx) => { %>
        <%if(c._id.toString() == h.toString()) {%>
      <li class="facts-li">
        <%= user.name %>: 
        <%= c.comments%>
        <%if(user.comments.includes(h._id)) {%>
        <div class="update">
          <form action="/weapons/ancients/delete/<%=h._id%>?_method=DELETE" method="POST">
            <button type="submit" class="histories-button">X</button>
          </form>
        </div>
        <%}%>
      </li>
      <%}});%>
      <%})%>
      <br />
      <br />
    </ul>
  </div>
  
<div class="facts-text">
  <form action="<%=`/weapons/ancients/comments/${id}`%>" method="POST">
    Comments:<br />
    <textarea class="textarea" name="comments" rows="4" cols="45"></textarea>
    <br />
    <input type="submit" />
  </form>
</div>
<% } else { %>
  <div class="facts-div">
    <ul class="facts-ul">
      <%comments.forEach((c, idx) => { %>
      <%weapons.comments.forEach((h, idx) => { %>
        <%if(c._id.toString() == h.toString()) {%>
      <li class="facts-li"> 
        <%= c.comments%>
    </li>
    <%}})});%>
    <br />
    <br />
  </ul>
</div>
<%}%> 
<%- include('../partials/footer') %>
