<%- include('../partials/header') %>
<style class="index_img">
  body {
    background-image: url("https://i.pinimg.com/originals/6a/4b/e0/6a4be04add47a608df29f78523190702.jpg");
    background-size: 100%;
  }
</style>
<div>
  <a class="goback" href="/weapons/ancients">GO BACK</a>
</div>
<div class="medival-show">
  <ul class="medival-ul">
    <li>Name: <%=weapon.weaponName%></li>
    <li>Region: <%=weapon.weaponType%></li>
    <li>Who: <%=weapon.weaponTypeName%></li>
    <li>against: <%=weapon.weaponOriginRegion%></li>
    <li>From: <%=weapon.weaponYear%></li>
  </ul>
</div>
<div class= "facts-div">
  <ul class= "facts-ul">
    <li class= "facts-li">

  </li>
</ul>
</div>

<div class= facts-text> facts:<br/>
<textarea name="facts" rows="6" cols="35">
</textarea>
</div>
<%- include('../partials/footer') %>
