<%- include('../partials/header') %>
<style class="index_img">
  body {
    background-image: url("https://c.wallhere.com/photos/a4/8b/tools_work_blacksmith_Mallet_embers-32156.jpg!d");
    background-size: 100%;
  }
</style>
<div>
  <a class="goback" href="/weapons/views">GO BACK</a>
</div>
<div class="medival-show">
  <ul class="medival-ul">
    <li class = "show-li">Name: <%=weapons.weaponName%></li>
    <li class = "show-li">Region: <%=weapons.weaponType%></li>
    <li class = "show-li">Who: <%=weapons.weaponTypeName%></li>
    <li class = "show-li">against: <%=weapons.weaponOriginRegion%></li>
    <li class = "show-li">From: <%=weapons.weaponYear%></li>
    <li class = "show-li">Facts: <%=weapons.facts%></li>

  </ul>
</div>
<div class="facts-div">
  <ul class="facts-ul">
    <h2 class= "weapon">Wars: </h2>
    <form id="add-to-war" action="/histories/addToWeapon/<%= weapons._id%>" method="POST">
      <select name="history" style="width:45%" >
        <%- histories.map(w =>` <option value="${w._id}">${w.name}</option>
        `).join('')%>
      </select>
      <button class= "war-button" type="submit" style="width:45%">Add to Weapon</button>
      <br/>
      <br/>
      <br/>
    </form>
    <h2>WEAPONS ADDED</h2>
    <%- weapons.history.map(p => ` <li>${p.name}</li>
    ` ).join('')%>
  </ul>
</div>
<%- include('../partials/footer') %>
