<%- include('../partials/header') %>
<style class="index_img">
  body {
    background-image: url("https://c.wallhere.com/photos/a4/8b/tools_work_blacksmith_Mallet_embers-32156.jpg!d");
    background-size: 100%;
  }
</style>
<div>
  <a class="goback" href="/weapons/views">GO BACK</a>
</div>
<div class="medival-show">
  <ul class="medival-ul">
    <li class = "show-li">Name: <%=weapons.weaponName%></li>
    <li class = "show-li">Region: <%=weapons.weaponType%></li>
    <li class = "show-li">Who: <%=weapons.weaponTypeName%></li>
    <li class = "show-li">against: <%=weapons.weaponOriginRegion%></li>
    <li class = "show-li">From: <%=weapons.weaponYear%></li>
  </ul>
</div>
<div class= "facts-div">
  <ul class= "facts-ul">
    <li class= "facts-li">

  </li>
</ul>
</div>

<div class= facts-text>
facts:<br>
<textarea name="facts" rows="6" cols="40">
</textarea>
</div>
<%- include('../partials/footer') %>
