<%- include('../partials/header') %>
<style class = "index_img">
body {
    background-image: url("https://c.wallhere.com/photos/a4/8b/tools_work_blacksmith_Mallet_embers-32156.jpg!d");
    background-size: 100%;
  }
  </style>

<ul class="history-view">
  <li>
    <%weaponSorted.forEach((t, idx) => {if(Number(t.weaponYear > -9999)) { %>
    <a class="history-a" href="/weapons/<%= t._id %>">
      Name: <%= t.weaponName%> 
      melee or range: <%= t.weaponType%>
      Type: <%= t.weaponTypeName%>
      region: <%= t.weaponOriginRegion%>
      First Used: <%= t.weaponYear%>
      <form action="/weapons/delete/<%=t._id%>?_method=DELETE" 
        method="POST">
        <button type="submit" class="btn white-text">Delete weapon</button>
      </form>
    </a>
    <%}});%>
  </li>
</ul>
<%- include('../partials/footer') %>
