<%- include('../partials/header') %>
<style class = "index_img">
body {
    background-image: url("https://c.wallhere.com/photos/a4/8b/tools_work_blacksmith_Mallet_embers-32156.jpg!d");
    background-size: 100%;
  }
  </style>

<ul class="history-view">
  <li>
    <%weaponSorted.forEach((t, idx) => {if(Number(t.weaponYear > -9999)) { %>
    <a class="history-a" href="/weapons/<%= t._id %>">
      Name: <%= t.weaponName%> 
      Type: <%= t.weaponTypeName%>
      First Used: <%= t.weaponYear%>
      <div class="update">
      <form action="/weapons/delete/<%=t._id%>?_method=DELETE" 
        method="POST">
        <button type="submit" class="btn white-text">Delete weapon</button>
      </form>
      <form action="/weapons/edit/<%=t._id%>">
        <button type="Edit"class="histories-button">Update weapon </button>
        </form>
      </div>
    </a>
    <%}});%>
  </li>
</ul>
<%- include('../partials/footer') %>
