<%- include('../partials/header') %>
<style class="index_img">
  body {
    background-image: url("https://i.pinimg.com/originals/6d/5f/86/6d5f860c33e2091930edc97226f8dc88.jpg");
    background-size: 100%;
  }
</style>
<ul class="medieval">
  <li>
    <%weaponsSorted.forEach((t, idx) => {if(Number(t.weaponYear) > 499 && Number(t.weaponYear) < 1500){ %>
    <a class="medieval-a" href="/weapons/contemporaries/<%= t._id %>">
      Name: <%= t.weaponName%> 
      Type: <%= t.weaponTypeName%>  
      <%= t.weaponYear%>

    </a>
    <%}});%>
  </li>
</ul>
<%- include('../partials/footer') %>
