<%- include('../partials/header') %>
<style class="index_img">
  body {
    background-image: url("https://upguardsandatem.files.wordpress.com/2016/07/cavalry-charge.jpeg");
    background-size: 100%;
  }
</style>
<ul class="medieval">
  <li>
    <%weaponsSorted.forEach((t, idx) => {if(Number(t.weaponYear) > 1499 && Number(t.weaponYear) < 1865){ %>
    <a class="medieval-a" href="/weapons/contemporaries/<%= t._id %>">
      Name: <%= t.weaponName%> 
      Type: <%= t.weaponTypeName%>  
      <%= t.weaponYear%>
      <form
        action="/weapons/contemporaries/delete/<%=t._id%>?_method=DELETE"
        method="POST"
      >
        <button type="submit" class="btn white-text">Delete war</button>
      </form>
    </a>
    <%}});%>
  </li>
</ul>
<%- include('../partials/footer') %>
