<%- include('../partials/header') %>
<style class="index_img">
  body {
    background-image: url("https://upguardsandatem.files.wordpress.com/2016/07/cavalry-charge.jpeg");
    background-size: 100%;
  }
</style>
<div>
  <a class="goback" href="/weapons/moderns">GO BACK</a>
</div>
<div class="medival-show">
  <ul class="medival-ul">
    <li>Name: <%=weapon.weaponName%></li>
    <li>Region: <%=weapon.weaponType%></li>
    <li>Who: <%=weapon.weaponTypeName%></li>
    <li>against: <%=weapon.weaponOriginRegion%></li>
    <li>From: <%=weapon.weaponYear%></li>
  </ul>
</div>

<%- include('../partials/footer') %>
