<%- include('../partials/header') %>
<style class="index_img">
  body {
    background-image: url("https://steamuserimages-a.akamaihd.net/ugc/922544126428224433/D837FEF4A0500F7395FDB26034746110C54DF8EB/");
    background-size: 100%;
  }
</style>
<div>
  <a class="goback" href="/ancients">GO BACK</a>
</div>
<div class="medival-show">
  <ul class="medival-ul">
    <li>Name: <%=history.name%></li>
    <li>Region: <%=history.region%></li>
    <li>Who: <%=history.involvedStates1%></li>
    <li>against: <%=history.involvedStates2%></li>
    <li>From: <%=history.dateFrom%></li>
    <li>To: <%=history.dateTo%></li>
    <li>Casualties: <%=history.numberOfLoss%></li>
    <li>Weapons: <%=history.numberOfLoss%></li>
  </ul>
</div>
<div class= "facts-div">
  <ul class= "facts-ul">
    <li class= "facts-li">
      <%for(let i = 0; i < history.comments.length; i++) {%>
        <%= history.comments[i]%>

        <%};%>
  </li>
</ul>
</div>

<div class= facts-text>
  <form action="/ancients/comments" method="POST">
facts:<br>
<textarea class="textarea" name="comments" rows="4" cols="45">
</textarea>
<br/>
<input type="submit">
</form>
</div>

<%- include('../partials/footer') %>
