<%- include('../partials/header') %>
<style class="index_img">
  body {
    background-image: url("https://backgrounddownload.com/wp-content/uploads/2018/09/epic-war-background-5.jpg");
    background-size: 100%;
  }
</style>
<div>
  <a class="goback" href="/contemporaries">GO BACK</a>
</div>
<div class="medival-show">
  <ul class="medival-ul">
    <li class = "show-li">Name: <%=histories.name%></li>
    <li class = "show-li">Region: <%=histories.region%></li>
    <li class = "show-li">Who: <%=histories.involvedStates1%></li>
    <li class = "show-li">against: <%=histories.involvedStates2%></li>
    <li class = "show-li">From: <%=histories.dateFrom%></li>
    <li class = "show-li">To: <%=histories.dateTo%></li>
    <li class = "show-li">Casualties: <%=histories.casualties%></li>
    <li class = "show-li">Facts:</li> 
    <li class = "show-li"><%=histories.facts%></li>
    <h2>WEAPONS USED</h2>
    <%console.log(histories)%>
    <%- histories.weapon.map(p => ` <li>${p.weaponName}</li>
    ` ).join('')%>
 
  </ul>
</div>
<%if(user) {%>
  <div class="facts-div">
    <ul class="facts-ul">
      <%comments.forEach((c, idx) => { %> <%histories.comments.forEach((h, idx) => {
      %> <%if(c._id.toString() == h.toString()) {%>
      <li class="facts-li">
        <%= user.name %>: <%= c.comments%> <%if(user.comments.includes(h._id)) {%>
        <div class="update">
          <form action="/contemporaries/delete/<%=h._id%>?_method=DELETE" method="POST">
            <button type="submit" class="histories-button">X</button>
          </form>
        </div>
        <%}%>
      </li>
      <%}});%> <%})%>
      <br />
      <br />
    </ul>
  </div>

<div class="facts-text">
  <form action="<%=`/contemporaries/comments/${id}`%>" method="POST">
    facts:<br />
    <textarea class="textarea" name="comments" rows="4" cols="45"></textarea>
    <br />
    <input type="submit" />
  </form>
</div>
<% } else { %>
  <div class="facts-div">
    <ul class="facts-ul">
      <%comments.forEach((c, idx) => { %>
      <%history.comments.forEach((h, idx) => { %>
        <%if(c._id.toString() == h.toString()) {%>
      <li class="facts-li"> 
        <%= c.comments%>
    </li>
    <%}})});%>
    <br />
    <br />
  </ul>
</div>
<%}%> 
   <%- include('../partials/footer') %>
