<%- include('../partials/header') %>
<style class="index_img">
  body {
    background-image: url("https://backgrounddownload.com/wp-content/uploads/2018/09/epic-war-background-5.jpg");
    background-size: 100%;
  }
</style>
<ul class="medieval">
  <li>
    <%warsSorted.forEach((t, idx) => {if(Number(t.dateFrom.substring(0,4)) > 1864) { %>
    <a class="medieval-a" href="/contemporaries/<%= t._id %>">
      <%= t.name%> in <%= t.region%> from: <%= t.dateFrom.substring(0,4)%> ~ <%=
      t.dateTo.substring(0,4)%>
    </a>
    <%}});%>
  </li>
</ul>
<%- include('../partials/footer') %>
