<%- include('../partials/header') %>
<style class="index_img">
  body {
    background-image: url("https://www.myjewishlearning.com/wp-content/uploads/2003/02/torah-scroll.jpg");
    background-size: 100%;
  }
</style>
<div>
  <a class="goback" href="/histories/views">GO BACK</a>
</div>
<div class="medival-show">
  <ul class="medival-ul">
    <li class = "show-li">Name: <%=history.name%></li>
    <li class = "show-li">Region: <%=history.region%></li>
    <li class = "show-li">Who: <%=history.involvedStates1%></li>
    <li class = "show-li">against: <%=history.involvedStates2%></li>
    <li class = "show-li">From: <%=history.dateFrom%></li>
    <li class = "show-li">To: <%=history.dateTo%></li>
    <li class = "show-li">Casualties: <%=history.casualties%></li>
    <li class = "show-li">Facts:</li> 
    <li class = "show-li"><%=history.facts%></li>
  </ul>
</div>
  <div class="facts-div">
    <ul class="facts-ul">
      <%comments.forEach((c, idx) => { %>
      <%history.comments.forEach((h, idx) => { %>
        <%if(c._id.toString() == h.toString()) {%>
      <li class="facts-li">
        <%= user.name %>: 
        <%= c.comments%>
      </li>
      <%}});%>
      <%})%>
      <br />
      <br />
    </ul>
  </div>
<%- include('../partials/footer') %>
