<%- include('../partials/header') %>
<style class="index_img">
  body {
    background-image: url("https://www.myjewishlearning.com/wp-content/uploads/2003/02/torah-scroll.jpg");
    background-size: 100%;
  }
</style>
<div>
  <a class="goback" href="/histories/views">GO BACK</a>
</div>
<div class="medival-show">
  <ul class="medival-ul">
    <li class = "show-li">Name: <%=histories.name%></li>
    <li class = "show-li">Region: <%=histories.region%></li>
    <li class = "show-li">Who: <%=histories.involvedStates1%></li>
    <li class = "show-li">against: <%=histories.involvedStates2%></li>
    <li class = "show-li">From: <%=histories.dateFrom%></li>
    <li class = "show-li">To: <%=histories.dateTo%></li>
    <li class = "show-li">Casualties: <%=histories.casualties%></li>
    <li class = "show-li">Facts:</li> 
    <li class = "show-li"><%=histories.facts%></li>

  </ul>
</div>
  <div class="facts-div">
    <ul class="facts-ul">
      <h2 class= "weapons">WEAPONS: </h2>
      <form id="add-to-war" action="/weapons/addToWar/<%= histories._id%>" method="POST">
        <select name="weapon" style="width:45%" >
          <%- weapons.map(w =>` <option value="${w._id}">${w.weaponName}</option>
          `).join('')%>
        </select>
        <button class= "war-button" type="submit" style="width:45%">Add to War</button>
        <br/>
        <br/>
        <br/>
      </form>
      <h2>WEAPONS ADDED</h2>
      <%- histories.weapon.map(p => ` <li>${p.weaponName}
      ` ).join('')%>
      </li>
    </ul>
  </div>
<%- include('../partials/footer') %>
