<%- include('../partials/header') %>
<style class = "index_img">
body {
    background-image: url("https://www.myjewishlearning.com/wp-content/uploads/2003/02/torah-scroll.jpg");
    background-size: 100%;
  }
  </style>

<ul class="history-view">
  <li>
    <%warsSorted.forEach((w, idx) => {if(Number(w.dateFrom.substring(0,4)) > -9999) { %>
      <%if(user.history.includes(w._id)) {%>
    <a class="history-a" href="/histories/<%= w._id %>">
      <span><%= w.name%> in <%= w.region%> from: <%= w.dateFrom.substring(0,4)%> ~ <%= w.dateTo.substring(0,4)%></span>

      <div class="update">
      <form action="/histories/delete/<%=w._id%>?_method=DELETE" 
        method="POST">
        <button type="submit" class="histories-button">Delete war</button>
      </form>
      <form action="/histories/edit/<%=w._id%>">
        <button type="Edit"class="histories-button">Update war </button>
        </form>
      </div>
      <%}%>
    </a>
    <%}});%>
  </li>
</ul>
<%- include('../partials/footer') %>
