<%- include('../partials/header') %>
<style class="index_img">
  body {
    background-image: url("https://assets.change.org/photos/7/yf/pa/NmYFpAwjUFWRxkp-1600x900-noPad.jpg?1527092760");
    background-size: 106%;
  }
</style>

<ul class="medieval">
  <li>
    <%warsSorted.forEach((t, idx) => { if( Number(t.dateFrom.substring(0,4)) >
    499 && Number(t.dateFrom.substring(0,4)) < 1500) { %>
    <a class="medieval-a" href="/medivals/<%= t._id %>">
      <%= t.name%> in <%= t.region%> from: <%= t.dateFrom.substring(0,4)%> ~ <%=
      t.dateTo.substring(0,4)%>

      <form action="/medivals/delete/<%=t._id%>?_method=DELETE" method="POST">
        <button type="submit" class="btn white-text">Delete war</button>
      </form>
    </a>
    <%}});%>
  </li>
</ul>
<%- include('../partials/footer') %>
