<%- include('../partials/header') %>
<style class="index_img">
  body {
    background-image: url("https://assets.change.org/photos/7/yf/pa/NmYFpAwjUFWRxkp-1600x900-noPad.jpg?1527092760");
    background-size: 106%;
  }
</style>
<div>
  <a class="goback" href="/medivals">GO BACK</a>
</div>
<div class="medival-show">
  <ul class="medival-ul">
    <li>Name: <%=history.name%></li>
    <li>Region: <%=history.region%></li>
    <li>Who: <%=history.involvedStates1%></li>
    <li>against: <%=history.involvedStates2%></li>
    <li>From: <%=history.dateFrom%></li>
    <li>To: <%=history.dateTo%></li>
    <li>Casualties: <%=history.numberOfLoss%></li>
    <li>Weapons: <%=history.numberOfLoss%></li>
  </ul>
</div>
<%if(user) {%>
  <div class="facts-div">
    <ul class="facts-ul">
      <%history.comments.forEach((h, idx) => { %>
      <%if(user.comments.includes(h._id)) {%>
      <li class="facts-li">
        <%= user.name %>: 
        <%= comments[idx].comments%>
        <%if(user.comments.includes(h._id)) {%>
        <div class="update">
          <form action="/medivals/delete/<%=h._id%>?_method=DELETE" method="POST">
            <button type="submit" class="histories-button">X</button>
          </form>
        </div>
        <%}%>
      </li>
      <%}});%>
      <br />
      <br />
    </ul>
  </div>
  
  <div class="facts-text">
    <form action="<%=`/medivals/comments/${id}`%>" method="POST">
      facts:<br />
      <textarea class="textarea" name="comments" rows="4" cols="45"></textarea>
      <br />
      <input type="submit" />
    </form>
  </div>
  <% } else { %>
  <div class="facts-div">
    <ul class="facts-ul">
      <%history.comments.forEach((h, idx) => { %>
      <li class="facts-li">
        <%= comments[idx].comments%>
      </li>
      <%});%>
      <br />
      <br />
    </ul>
  </div>
  <%}%> 
<%- include('../partials/footer') %>
