<%- include('../partials/header') %>
<style class="index_img">
  body {
    background-image: url("https://www.suyongso.com/files/attach/images/115/773/474/004/99b983892094b5c6d2fc3736e15da7d1.jpg");
    background-size: 106%;
  }
</style>
<div>
  <a class="goback" href="/moderns">GO BACK</a>
</div>
<div class="medival-show">
  <ul class="medival-ul">
    <li>Name: <%=history.name%></li>
    <li>Region: <%=history.region%></li>
    <li>Who: <%=history.involvedStates1%></li>
    <li>against: <%=history.involvedStates2%></li>
    <li>From: <%=history.dateFrom%></li>
    <li>To: <%=history.dateTo%></li>
    <li>Casualties: <%=history.numberOfLoss%></li>
    <li>Weapons: <%=history.numberOfLoss%></li>
  </ul>
</div>
<div class= "comments-div">
  <ul class= "comments-ul">
    <li class= "comments-li">

  </li>
</ul>
</div>

<div class= comments-text>
Comments:<br>
<textarea name="comments" rows="6" cols="40">
</textarea>
</div>
<%- include('../partials/footer') %>
